<%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/navigation.ejs') %>
    
    <main>
      <p>Dashboard</p>
    </main>

    <%- include('../includes/scripts.ejs') %>
  </body>
</html>
