body {
  font-family: sans-serif;
}

main {
  margin: 2rem;
}

.navbar-custom .nav-item:hover .nav-link {
  border-radius: 5px;
  padding-left: 3px;
  margin-right: auto;
  background-color: #28a745;
  color: #ffffff;
}
